 *{
    box-sizing: border-box;
    overflow-x:hidden;
}
body{
    margin: 0 auto;
    max-width: 1920px;
    
}

header{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 955px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;

}
.info_in_logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}
.logo{
    margin-top:10%;
    display: flex;
    justify-content: center;
}
.text_in_header{ 
    font-family: BebasNeueBold;
   
}
.big_size_text{
    line-height: 70px;
    font-size: 60px;
    letter-spacing: 5.70937px;
}
.scroll_down{
    margin-bottom: 5%;
    letter-spacing: 5.70937px;
}
.navbar{
    display: flex;
    justify-content: space-between; 
    width: 66%;
    
}
ul li {
    
    margin-right: 15px;
    
}
ul a {
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
}
.logo_in_navbar{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.about{
    display: flex;
    justify-content: space-between; 
    width: 66%;
}
.our_story{
    text-align: center;
}

.info_text, .info_pic{
    width: 50%;
}
.info_text{
    font-family: Open Sans;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #48555B;
    text-align: left;
}
.info_pic{
    display: flex;
    justify-content: space-between; 
}
.elem_in_info_pic{
    width: 160px;
    height: 224px;
    background-size: cover!important;
}
.elem{
    text-align: left;
    color: white;
    margin-left: 8px;
    margin-top: 8px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    font-weight: bold;
}
.our_story_p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
    margin-top: 5%;
    margin-bottom: 5%;
}
.services{
    width: 66%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.capabilities{
    display: flex;
    justify-content: space-between;

}
.capabilities > a{
    text-decoration: none;
    text-align: center;
}
.capabilities > a > p{
    width:150px; 
    height:40px;
    background-color:#00A4E5;
    padding-top: 7%;
    color:white
}
.column_in_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
    
}
.capabilities_text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.2px;
    width: 41%;
}
.services_elems{
    display: flex;
    justify-content: space-between;
    margin-top:2%;
}
.services_element{
    border: 1px solid #E6E6E6;
    width: 30%;
    padding: 2%;
}
.services_name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
}
.services_icon{
    width: 65.62px;
    height: 75px;
}
.nav > ul > li{
    display: inline;
}
.nav > ul > li > a{
    color: black
}
.cont_border{
    border: 1px solid #E6E6E6;
}
.icon_1{
    background-image: url('../img/Bitmap-3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 65.62px;
    height: 75px;
}
.icon_2{
    background-image: url('../img/Bitmap-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 65.62px;
    height: 75px;
}
.icon_3{
    background-image: url('../img/Bitmap-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 65.62px;
    height: 75px;
}
.info{
    display: flex; flex-wrap: wrap;
}
.other_info{
    width: 100vw;
    height: 499px;
    background-image: url('../img/bg-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.other_info{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.info_and_button{
    display: flex;
    justify-content: CENTER;
    flex-direction: column;
}
.title_info{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
}
.newsletter{
    height: 100px;
    width: 100vw;
    background: #171819;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.newletter_elements{
    display: flex;
    justify-content: center;
}
.news_title, .subscribe{
    display: flex;
    width: 19%;
    justify-content: space-between;
}
.news_title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.846154px;
}
.footer{
    background-color: #141A20;
    width: 100vw;
    min-height: 240px;
    color: white!important;
    display: flex;
    justify-content: center;
}
.foo_elem_1{
    width: 17%;
    margin-right: 3%;
}
.foo_elem_2{
    width: 15%;
    margin-right: 3%;
}
.foo_ul_li > ul {
    padding-left: 0;
}
.foo_elem_3{
    width: 10%;
    margin-right: 3%;
}
.foo_elem_4{
    width: 10%;
    margin-right: 3%;
}
.foo_ul_li{
    display: flex;
}
li a{
    color:white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.2px;
}
.copyright{
    width: 100vw;
    height: 60px;
    text-align: center;
    background: #171819;
    color:white
}
li span{
    color:black;
}
.foo_ul_li > ul > li{
    margin-bottom: 5%;
}
.subscribe > input{
    width:200px; 
    height:40px;
    margin-block-start: 17px;
}
.subscribe > .sub_button > a{
    text-decoration: none;
}
.subscribe > .sub_button > a > p{
    width:162px; 
    height:40px;
    background-color:#00A4E5;
    margin-block-start: 17px;
    color:white;
    padding-top: 6%;
    padding-left:26%;
}
.news_title{
    color: white
}
.info_and_button >.info_button > a{
    text-decoration: none;
}
.info_and_button > .info_button > a > p{
    width:150px; 
    height:39px;
    background-color:#00A4E5;
    padding-top: 3%;
    color:white;
    overflow: hidden; 
}
.info_button{
    margin: 0 auto;
}
.foo_elem_1 > img{
    width: 103px; 
    height: 23px;
}
.foo_elem_4 img {
    width:13px;
    height:13px;
    margin-right: 10%;
}
@media screen and (max-width: 768px) {
    .info_text, .info_pic {
        width: 100%;
    }
    .elem{
        font-size: 18px;
    }
    .services_elems{
        justify-content: center;
        display: block;
        
    }
    .services_element{
        width: 100%;
        margin-bottom: 10px;
    }
    .foo_elem_1{
        width: 100%;
    }
    .foo_elem_2{
        width: 100%;
    }
    .foo_elem_3{
        width: 100%;
    }
    .foo_elem_4{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .foo_elem_4 > a{
        margin-right: 20px;
        margin-left: 20px;
    }
    .footer{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .foo_ul_li{
        justify-content: center;
    }
    .news_title{
        width: 100%;
        margin-left: 5px;
    }
    .subscribe{
        width: 100%;
        margin-right: 5px;
    }
}
@media screen and (max-width: 650px) {
    .info_text, .info_pic {
        width: 100%;
    }
        
}
